@{
}
<div class="error-message d-flex text-center">
    <h1 class="error-heading">Không thể truy cập!</h1>
    <p class="error-description">Xin lỗi, tài khoản của bạn không được cấp quyền truy cập vào trang này.</p>
    <hr>
    <p class="error-details">Vui lòng liên hệ với quản trị viên để biết thêm chi tiết.</p>
</div>